html,body{
  margin: 0;
  background:#000000;
  font-family: "ヒラギノ丸ゴ ProN","メイリオ",sans-serif;
  font-size: 100%;
}

/* 
hamburger(ハンバーガーアイコン)
=================================== */
.hamburger {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  z-index: 300;
}

.hamburger__line {
  position: absolute;
  width: 42px;
  height: 3px;
  right: 0;
  background-color: #ffffff;
  transition: all 0.5s;
}

.hamburger__line--1 {
  top: 1px;
}

.hamburger__line--2 {
  top: 16px;
}

.hamburger__line--3 {
  top: 32px;
}

/*ハンバーガーがクリックされたら*/
.open .hamburger__line--1 {
  transform: rotate(-45deg);
  top: 11px;
}

.open .hamburger__line--2 {
  opacity: 0;
}

.open .hamburger__line--3 {
  transform: rotate(45deg);
  top: 11px;
}

/* 
sp-nav(ナビ)
=================================== */
.sp-nav {
  position: fixed;
  right: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
  top: 0;
  width: 80%; /* 出てくるスライドメニューの幅 */
  height: 100vh;
  background-color: rgb(10 10 20 / 70%);
  transition: all 0.5s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
  color: #ffffff;
  font-size: 1.6rem;
}

.sp-nav ul {
  padding-top: 50px;
}

.sp-nav .comment {
  font-size: 1rem;
}

.fa-solid{
  font-size: 1.1rem;
}

.sp-nav ul li span{
  font-size: 0.8rem;
  color: fuchsia;
}

/* 点滅 */
.blinking{
	-webkit-animation:blink 0.7s ease-in-out infinite alternate;
    -moz-animation:blink 0.7s ease-in-out infinite alternate;
    animation:blink 0.7s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}


.fa-brands {
  font-size: 2rem;
  margin-right: 4px;
}

.suzuri {
  display: inline;
  position: relative;
  top:2px;
  width: 1.72rem;
  background-color: #ffffff;
  border-radius: 4px;
}

.comment .szr {
  font-size: 0.8rem;
  color: #ffffff;
}

.sp-nav ul li a {
  text-decoration: none;
}

.sp-nav ul li {
  list-style-type: none;
  margin-bottom: 10px;
} 

/*ハンバーガーがクリックされたら右からスライド*/
.open .sp-nav {
  right: 0;
}


/* 
black-bg(ハンバーガーメニュー解除用bg)
=================================== */
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 100;
}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
  opacity: 0.3;
  visibility: visible;
}



/* 
.p5js{
  width: 100%;
  height:auto;
  text-align: center;
} */


/* Responsive */
  @media (min-width: 769px) {
  .sp-nav {
    width: 35%; /* 出てくるスライドメニューの幅 */
    font-size: 1.6rem;
  }
  }


